root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

ij_javascript_use_semicolon_after_statement = false
ij_javascript_force_semicolon_style = true
ij_javascript_use_double_quotes = false
ij_javascript_force_quote_style = true
ij_javascript_enforce_trailing_comma = remove
